@import url(rfv-card.component.css);
@import url(metric-card.component.css);
@import url(pages-table.camponent.css);
@import url(traffic-card-component.css);
@import url(searchbar.component.css);
@import url(app-header.component.css);

:root {
  --mainPurple: #6D1CD5;
  --mainPink: #e514bbdd;
  --mainGreen: #14e5d0dd;
  --lightGray: #9b9b9b;
  --lightlightGray: #d8d8d8;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  width: 98vw;
  height: 100vh;

  margin-bottom: 550px;
}

.dashboard-container {
  width: 95%;

  display: grid;
  justify-content: center;
  grid-template-columns: 25% 50% 25%;
  gap: 15px;

  margin-top: 15px;
  margin-bottom: 50px;
}

.left-panel {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  width: 100%;
  height: 100%;
  gap: 25px;
}

.left-panel-secondary-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;

  width: 100%;
}

.center-panel,

.right-panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.ng-isolate-scope {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: start;

}

.center-panel-first-section {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 10px;
}

.left-panel-main {
  width: 100%;
}


@media (max-width: 1024px) {
  left-panel {
    grid-area: left;
  }

  center-panel {
    grid-area: center;
  }

  right-panel {
    grid-area: right;
  }

  .dashboard-container {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-areas:
      "left center"
      "right center";
    gap: 15px;
  }

  .left-panel,
  .center-panel,
  .right-panel {
    width: 100%;
    align-items: center;
  }

  .center-panel-first-section {
    width: 100%;
  }

  .chart-container {
    width: 100%;
  }

  .observation-area {
    display: none;
  }

}

@media (max-width: 450px) {
  .dashboard-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "left"
      "center"
      "right";
  }

  body {
    padding: 0 10px;
  }

  .center-panel-first-section {
    gap: 5px;
  }

  .left-panel,
  .center-panel,
  .right-panel {
    gap: 10px;
  }
}

