@import url(main.css);

.traffic-area-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0px 5px;
}

.traffic-area-header h3 {
    color: black;
    font-size: 1rem;
}

.list-trafficCard {
    list-style-type: none;
    margin: 15px;
}

.list-trafficCard li {
    margin-bottom: 25px;
}

.traffic-item-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.traffic-item-barArea {
    width: 100%;
    height: 8px;

    border-radius: 16px;

    background-color: var(--lightGray);
}

.traffic-item-progressBar {
    width: 75%;
    height: 8px;

    border-radius: 16px;

    background-color: var(--mainPurple);
}